<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            <a href="/resume-maker/1">
                <img class="img-fluid"src="/img/light.png" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <a href="/resume-maker/2">
                <img class="img-fluid"src="/img/dark.png" alt="">
            </a>
        </div>
    </div>
</div>